###> symfony/framework-bundle ###
/.env
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> IDE ###
/.idea/
/.vscode/
*.swp
*.swo
*~
.DS_Store
###< IDE ###

###> Docker ###
docker-compose.override.yml
###< Docker ###

###> Composer ###
composer.phar
/vendor/
###< Composer ###

###> Symfony logs ###
/var/log/*
!var/log/.gitkeep
###< Symfony logs ###

###> Node.js (если будет использоваться) ###
/node_modules/
npm-debug.log
yarn-error.log
###< Node.js ###

###> Temporary files ###
*.tmp
*.bak
*.cache
###< Temporary files ###